body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.card:hover {
  background-color: #f3f3f3;
}

.scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  padding-bottom: 20px;
}
.card-img{
  opacity: 0.3; 
  width: 100%; 
  height: 100%;
  object-fit: cover;
}
.horizontal-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.horizontal-list li {
  display: inline-block;
  flex: 0 0 auto;
  margin-right: 20px;
}

.site-footer
{
  background-color:#ffffff;
  padding:140px 0 25px;
  font-size:15px;
  line-height:20px;
  color:#000000;
}
.site-footer h6
{
  color:#000000;
  font-weight:600;
  font-size:16px;
  margin-top:27px;
  margin-bottom:20px;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.copyright-text
{
  font-size:11px;
  color:#737373;
  margin:0
}
.cookies-text
{
  font-size:11px;
  color:#737373;
  margin:0
}
@media (max-width: 767px) { /* schermi più piccoli */
    .copyright-text {
        text-align: center;
    }
    .cookies-text {
        text-align: center;
    }
}
@media (min-width: 768px) { /* schermi più grandi */
    .cookies-text {
        text-align: right;
    }
}
