{% extends "users/base_users.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{title}} | Tickez{% endblock %}

{% block content %}
    <div class="container">
        <p>{{object.nome}}</p>
        <img src="{{ object.immagine_profilo_url }}" style="width: 100px; height: 100px; object-fit: cover">

        <form method="POST" action="{% url 'toggle-follow' entity_type='organizzatore' entity_pk=object.id %}"> {% csrf_token %}
          <input type="hidden" name="action" value="{% if request.user.utente in object.followers.all %}unfollow{% else %}follow{% endif %}">
          <button type="submit" class="btn {% if request.user.utente in object.followers.all %}btn-secondary{% else %}btn-dark{% endif %}">
            {% if request.user.utente in object.followers.all %}
              <i class="fas fa-heart me-1"></i> Seguito
            {% else %}
              <i class="far fa-heart me-1"></i> Segui
            {% endif %}
          </button>
        </form>

        <hr>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="true">Informazioni</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="events-tab" data-bs-toggle="tab" data-bs-target="#events" type="button" role="tab" aria-controls="events" aria-selected="false">Eventi programmati</button>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="description" role="tabpanel" aria-labelledby="description-tab">{{object.descrizione}}</div>
          <div class="tab-pane" id="events" role="tabpanel" aria-labelledby="events-tab">
            {% if planned_events %}
            <ul>
                {% for e in planned_events %}
                  <a href="{{ e.get_absolute_url }}" style="text-decoration: none; color: inherit;">
                      <li>{{ e.nome }} - {{ e.data_ora }}</li>
                  </a>
                {% endfor %}
            </ul>
            {% else %}
                <p>Nessun evento programmato.</p>
            {% endif %}
          </div>
        </div>
    </div>
{% endblock %}