{% extends "users/base_users.html" %}

{% load crispy_forms_tags %}

{% block title %}Profilo | Tickez{% endblock %}

{% block content %}
    <div class="container">
        <h2>Bentornato <strong>{{user}}</strong></h2>

        <hr>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="data-tab" data-bs-toggle="tab" data-bs-target="#data" type="button" role="tab" aria-controls="data" aria-selected="true">Dati personali</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="orders-tab" data-bs-toggle="tab" data-bs-target="#orders" type="button" role="tab" aria-controls="orders" aria-selected="true">Ordini</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="events-tab" data-bs-toggle="tab" data-bs-target="#events" type="button" role="tab" aria-controls="events" aria-selected="false">Eventi preferiti</button>
              </li>
            <li class="nav-item" role="presentation">
            <button class="nav-link" id="artists-tab" data-bs-toggle="tab" data-bs-target="#artists" type="button" role="tab" aria-controls="artists" aria-selected="false">Artisti preferiti</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="locations-tab" data-bs-toggle="tab" data-bs-target="#locations" type="button" role="tab" aria-controls="locations" aria-selected="false">Luoghi preferiti</button>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane mt-3 active" id="data" role="tabpanel" aria-labelledby="data-tab">
                <form method="POST"> {% csrf_token %}
                    {% crispy form %}
                </form>
            </div>
            <div class="tab-pane" id="orders" role="tabpanel" aria-labelledby="orders-tab">
              {% for o in orders %}

              {% endfor %}
            </div>
            <div class="tab-pane mt-3" id="events" role="tabpanel" aria-labelledby="events-tab">
                {% for e in starred_events %}
                  <p>{{e.nome}}</p>
                {% endfor %}
            </div>
            <div class="tab-pane mt-3" id="artists" role="tabpanel" aria-labelledby="artists-tab">
                {% for a in starred_artists %}
                  <p>{{a.nome}}</p>
                {% endfor %}
            </div>
            <div class="tab-pane mt-3" id="locations" role="tabpanel" aria-labelledby="locations-tab">
                {% for l in starred_locations %}
                  <p>{{l.nome}}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // rimuove l'autofocus dagli elementi di input (form nel primo tab)
            document.querySelectorAll('input').forEach(input => {
                input.setAttribute('autocomplete', 'off');
                input.setAttribute('autofocus', 'off');
            });
        });
    </script>
{% endblock %}