<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <a href="/"><img width="150" heigth="150" src="/static/images/tickez_logo.jpg"/></a>
        </div>
        <div class="col-md-3 col-xs-12">
          <h6>Tickez</h6>
          <ul class="footer-links">
            <li><p>Chi siamo</p></li>
            <li><p>Stampa</p></li>
            <li><p>Lavora con noi</p></li>
          </ul>
        </div>
        <div class="col-md-3 col-xs-12">
          <h6>Assistenza Clienti</h6>
          <ul class="footer-links">
            <li><p>Termini e condizioni d'acquisto</p></li>
            <li><p>Contattaci</p></li>
            <li><p>FAQ</p></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <p class="copyright-text">&copy; 2024 Tickez.&ensp;All Rights Reserved.</p>
        </div>
        <div class="col-md-6 col-xs-12">
            <p class="cookies-text">Informativa sulla privacy&ensp;|&ensp;Cookies&ensp;|&ensp;Gestione dei cookies</p>
        </div>
      </div>
    </div>
</footer>