<nav class="navbar navbar-light" style="background-color: #ffffff; padding:10px 30px;">
    <div class="container-fluid d-flex align-items-end">
        <a class="navbar-brand me-auto" href="/">
            <img src="/static/images/tickez_logo.jpg" alt="tickez logo" width="110">
        </a>

        <div class="d-flex justify-content-center flex-grow-1">
            <form class="d-flex w-100 justify-content-center" method="GET" action="{% url 'common:search-results' %}">
                <input class="form-control me-2" type="search" name="keywords" placeholder="Artista, Evento o Località" aria-label="Search" style="width: 250px;">
                <button class="btn btn-dark" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>

        {% if user.is_authenticated %}
            <a href="#" class="btn btn-dark ms-auto me-2">
                <span style="margin-right: 5px;">{{ user }}</span>
                <i class="fas fa-user-circle fa-lg"></i>
            </a>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-dark ms-auto me-2">
                <span style="margin-right: 5px;">Accedi</span>
                <i class="fas fa-user-circle fa-lg"></i>
            </a>
        {% endif %}
        {% if user.is_authenticated %}
        <form id="logout-form" method="POST" action="{% url 'logout' %}" style="display: inline;"> {% csrf_token %}
            <button type="submit" class="btn btn-dark">
                <i class="fas fa-sign-out-alt"></i>
            </button>
        </form>
        {% endif %}
    </div>
  </nav>