{% extends "products/base_products.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load tz %}

{% block title %}Statistiche {{evento}} | Tickez{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-5">Statistiche</h1>

    <h2 class="mb-4" style="font-weight:600; word-break: break-word;">
        <a href="{% url 'products:event-details' evento.slug evento.pk %}" style="text-decoration: underline; color: black;">
            {{ evento.nome }}
        </a>
    </h2> 

    <div class="row flex-wrap justify-content-between">
        <div class="col-4">
            <div class="card border border-dark">
                <div class="card-body text-center">
                    <h5 class="card-title">Visualizzazioni evento</h5>
                    <p class="card-text fw-bold">{{ visualizzazioni_evento }}</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border border-dark">
                <div class="card-body text-center">
                    <h5 class="card-title">Numero di biglietti venduti</h5>
                    <p class="card-text fw-bold">{{ biglietti_venduti }}</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border border-dark">
                <div class="card-body text-center">
                    <h5 class="card-title">Ricavi</h5>
                    <p class="card-text fw-bold">{{ revenue_totale }} €</p>
                </div>
            </div>
        </div>
    </div>


    {% if biglietti_venduti > 0 %}
    <h5 class="mt-5 mb-3 fw-bold">Dettagli partecipanti:</h5>
    <div class="row">
        <div class="col-6 d-flex align-items-center justify-content-center">
            <canvas id="grafico_eta"></canvas>
        </div>
        
        <div class="col-3 d-flex align-items-center justify-content-center">
            <canvas id="grafico_nazionalita"></canvas>
        </div>
        
        <div class="col-3 d-flex align-items-center justify-content-center">
            <canvas id="grafico_sesso"></canvas>
        </div>
    </div>


    <h5 class="mt-5 mb-3 fw-bold">Dettagli biglietti:</h5>
    <div class="row">
        <div class="col-md-4 d-flex align-items-center justify-content-center">
            <canvas id="tipologia_biglietti_venduti" width="100" height="50"></canvas>
        </div>
        <div class="col-md-8 d-flex align-items-center justify-content-center">
            <canvas id="vendite_giornaliere" width="800" height="400"></canvas>
        </div>
    </div>
    {% else %}
    <h5 class="mt-5 d-flex align-items-center justify-content-center">Dati insufficienti per visualizzare i grafici.</h5>
    {% endif %}
</div>

<!-- i grafici sono stati creati tramite Chart.js -->
<script>
    // il filtro "safe" è utile quando si desidera includere codice HTML o dati formattati come JSON direttamente nel template senza che Django li modifichi per ragioni di sicurezza
    document.addEventListener('DOMContentLoaded', function () {
    {% if biglietti_venduti > 0 %}
        // grafico età dei partecipanti, divisa per fasce
        var ctxEta = document.getElementById('grafico_eta').getContext('2d');
        var graficoEta = new Chart(ctxEta, {
            type: 'bar',
            data: {
                labels: ['0-18', '19-35', '36-50', '50+'],
                datasets: [{
                    label: 'Numero di partecipanti divisi per fasce d\'età',
                    data: [
                        {{ fasce_eta.0_18 }},
                        {{ fasce_eta.19_35 }},
                        {{ fasce_eta.36_50 }},
                        {{ fasce_eta.50_plus }}
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)'
                    ],
                    borderColor: 'rgb(0, 0, 0)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    },
                    title: {
                        display: true,
                        text: 'Numero di partecipanti divisi per fasce d\'età'
                    }
                }
            }
        });

        // grafico nazionalità dei partecipanti
        var ctxNazionalita = document.getElementById('grafico_nazionalita').getContext('2d');
        var graficoNazionalita = new Chart(ctxNazionalita, {
            type: 'pie',
            data: {
                labels: [
                    {% for nazionalita in nazionalita_partecipanti %}
                        "{{ nazionalita.stato_acquirente|safe }}",
                    {% endfor %}
                ],
                datasets: [{
                    label: 'Nazionalità dei partecipanti',
                    data: [
                        {% for nazionalita in nazionalita_partecipanti %}
                            {{ nazionalita.count }},
                        {% endfor %}
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)'
                    ],
                    borderColor: 'rgb(0, 0, 0)',
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    legend: {
                        position: 'right'
                    },
                    title: {
                        display: true,
                        text: 'Nazionalità dei partecipanti (top 5)'
                    }
                }
            }
        });
        

        // grafico sesso dei partecipanti
        var sessoData = {
            'Altro': {{ sesso_partecipanti.Altro|default:"0" }},
            'Femmine': {{ sesso_partecipanti.Femmina|default:"0" }},
            'Maschi': {{ sesso_partecipanti.Maschio|default:"0" }}
        };
        var labels = Object.keys(sessoData);
        var data = Object.values(sessoData);

        var ctxSesso = document.getElementById('grafico_sesso').getContext('2d');
        var graficoSesso = new Chart(ctxSesso, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Sesso dei partecipanti',
                    data: data,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                    ],
                    borderColor: 'rgb(0, 0, 0)',
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    legend: {
                        position: 'right'
                    },
                    title: {
                        display: true,
                        text: 'Sesso dei partecipanti'
                    }
                }
            }
        });
        

        // grafico vendite per tipologia
        var venditePerTipologia = {{ vendite_per_tipologia|safe }};
        var labels = Object.keys(venditePerTipologia);
        var data = Object.values(venditePerTipologia);

        var ctxTipologia = document.getElementById('tipologia_biglietti_venduti').getContext('2d');
        var bigliettiVendutiChart = new Chart(ctxTipologia, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Biglietti Venduti per Tipologia',
                    data: data,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: 'rgb(0, 0, 0)',
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    legend: {
                        position: 'right'
                    },
                    title: {
                        display: true,
                        text: 'Biglietti Venduti per Tipologia'
                    },
                    tooltip: {
                        callbacks: {
                            label: function(tooltipItem) {
                                var label = tooltipItem.label || '';
                                var value = tooltipItem.raw || 0;
                                return label + ': ' + value;
                            }
                        }
                    }
                }
            }
        });

        
        // grafico vendite giornaliere
        var ctxLineChart = document.getElementById('vendite_giornaliere').getContext('2d');
        var lineChart = new Chart(ctxLineChart, {
            type: 'line',
            data: {
                labels: [
                    {% for vendita in vendite_per_giorno %}
                        "{{ vendita.giorno|date:"Y-m-d"|safe }}",
                    {% endfor %}
                ],
                datasets: [{
                    label: 'Vendite Giornaliere',
                    data: [
                        {% for vendita in vendite_per_giorno %}
                            {{ vendita.count }},
                        {% endfor %}
                    ],
                    fill: false,
                    borderColor: 'rgb(0, 0, 0)',
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                    x: {
                        display: true,
                        title: {
                            display: true,
                            text: 'Giorni'
                        }
                    },
                    y: {
                        display: true,
                        title: {
                            display: true,
                            text: 'Biglietti'
                        }
                    }
                },
                plugins: {
                    legend: {
                        display: false,
                        position: 'top'
                    },
                    tooltip: {
                        mode: 'index',
                        intersect: false
                    },
                    title: {
                        display: true,
                        text: 'Vendite Giornaliere'
                    }
                }
            }
        });
        
    {% endif %}
    }); 
</script>
{% endblock %}